.text-zone {
  bottom: 0%;
  padding: 5%;
}

.contact-form {
  width: 50%;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: wrap;
  display: block;
  position: relative;
  opacity: 0;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  border: 0;
  background-color: #c1e205c9;
  height: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #3a0301;
  padding: 5px 20px;
  box-sizing: border-box;
  display: block;

}
li.half {
  width: 49%;
  margin-left: 2%;
  float: left;
  clear: none;

  &:first-child {
    margin-left: 0;
  }

}

textarea {
  width: 100%;
  border: 0;
  background-color: #c1e205c9;
  height: 50px;
  font-size: 16px;
  padding: 20px;
  min-height: 150px;
  box-sizing: border-box;  
}

.flat-button {
  font-family: 'Press Start 2P', monospace;
  border: 0;
  animation: fadeIn 1s 2.3s both;
  color: #3a2201;
  background-color: #bbdb04;
  padding: 5px;
  width: 30%;
  text-align: center;
  text-decoration: none;
}

.flat-button:hover {
  background-color: #830101;
  color: #bbdb04
}

.contact-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;

}

.selfie {
  top: 0;
  bottom: 0;
  position: fixed;
  margin-left: 40%;
  margin-top: 5%;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  overflow: hidden;
  
}

@media only screen and (max-width: 820px) {
  .selfie {
    display: none;
  }
}


      
