html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  color: #830101;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(rgb(244, 243, 239) 40%, rgb(250, 238, 205) 80%, rgb(245, 243, 237) 120%);
  background-size: 200% 100%;
  display: block;
  animation: gradient 10s  ease-in-out infinite;
  animation-direction: alternate-reverse;
 
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0%;
    background-size: 100%
  }

  50% {
    background-position: 90%;
    background-size: 200%
  }

  100% {
    background-position: 0%;
    background-size: 100%
  }
}

