.home-page {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;

  h1 {
    font-size: 48px;
    font-family: 'Righteous';
    font-weight: 400;
    overflow: hidden;
    color: #3a2201;
    
    
    .name{
      background-color: transparent;
      font-style: italic;
      font-size: 75px;
      color: #db0404;
      font-family: 'Press Start 2P';
    }
  }
   
  
  h2 {
    opacity: 0;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Anonymous Pro';
    letter-spacing: 1px;
    animation: fadeIn 1s 2s both;
    color:#3a2201;
   
  }

  .flat-button {
    opacity: 0;
    margin-top: 25px;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Press Start 2P', monospace;
    animation: fadeIn 1s 2.3s both;
    color: #3a2201;
    background-color: #bbdb04;
    padding: 5px;
    width: 30%;
    text-align: center;
    text-decoration: none;
  }

  .flat-button:hover {
    transform: skewX(-25deg);
  }
}