.nav-bar {
  z-index: 3;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  //width: 100vw;
}

.navlink {
  color:#3a2201;
  font-size: 25px;
  line-height: 35px;
  text-decoration: none;
  background-color: #bbdb04;

}

i {
  transition: all 0.3s ease-out;
  
}

.navlink:hover {
  background-color:#830101;
  color:#bbdb04
}




